[Unit]
Description=Fcitx5 Input Method Framework
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.fcitx.Fcitx5
ExecStart=/usr/bin/fcitx5
Restart=on-failure

[Install]
WantedBy=graphical-session.target　　　　      