[Unit]
Description=Apply Wacom mapping
After=graphical.target

[Service]
Type=oneshot
ExecStart=/home/juan/dotfiles.sh --wacom

[Install]
WantedBy=default.target